<html>
<head>
<meta charset="UTF-8">
<title>Mustache</title>
<style>
</style>
</head>
<body>
	{{#empList}}
	<div>
		<span>{{employeeId}}</span>
		<span>{{lastName}}</span>
	</div>
	{{/list}}
</body>
</html>