<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>empList.html</title>
<style>
.odd { background-color : lightgray; }
.even { background-color : yellow; }
.trbold { font-weight : bold; } 
</style>
</head>
<body>
	<div>[[ ${#lists.size(list)} ]]</div>
	<div th:text="${#lists.size(list)}"></div>
<table>
	<tr>
	    <th>No</th>
		<th>employee_id</th>
		<th>first_name</th>
		<th>hireDate</th>
		<th>salary</th>
		<th>grade</th>
	</tr>
	<th:block th:each="emp,st : ${list}">
	<tr th:class="${st.odd} ? 'odd' : 'even' " th:classappend="${st.first} ? 'trbold' ">
		<td th:text="${st.count}"></td>
		<td th:text="${emp.employeeId}"></td>
		<td th:text="|${emp.firstName} ${emp.lastName}|"></td>
		<td th:text="${#dates.format(emp.hireDate, 'yyyy-MM-dd')}"></td>
		<td th:text="${emp.salary}"></td>
		<td th:if="${emp.salary} > 10000 " th:text="A"> </td> <!-- 참 -->
	 	<td th:unless="${emp.salary} > 10000 " th:text="B"></td> <!-- 거짓 -->
	 </tr>
	</th:block>
</table>
<th:block th:each="emp,st : ${list}">
	<span th:text="${emp.firstName}"></span>
	<span th:text="${emp.lastName}"></span>
</th:block>
</body>
</html>